:root{
    --f-primary: 600;
    --f-secondary: 700;
    --f-bold: 800;
    --f-slim: 400;
    --bg-color: #1c1d25;
    --text-color: azure;
    --text-color2: #FF971A;
    --transition-photo: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 100%;
}

section {
    margin: 0px auto;
}

.line {
    background-color:#000000;
    height: 3px;
    width: 100%;
}

footer {
    background-color: black;
    color: var(--text-color);
    text-align: center;
    padding: 20px;
    
}

/* style the header navigation section */
.nav-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.nav-top {
    list-style: none;
    cursor: pointer;
    font-size: 20px;
    /* gap: 25px; */
}

.image-logo {
    margin-left: 50px;
}


.nav-top li {
    width: 150px;
    /* position: relative; */
}

.menu-selection {
    display: inline-block;
    margin-block: 2px;
    text-decoration: none;
    font-weight: var(--f-slim);
    position: relative;
    color: var(--text-color);
}

/* hover animation on the menu  */
.menu-selection::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--text-color2);
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .25s ease;
}

.menu-selection:hover::after {
    transform: scaleX(1);
}

/* main content: about me down to contact section */
main {
    margin: 0px auto;
    /* width: 100%; */
    max-width: 1600px;
    min-height: 100vh;
}

.nav-top {
    display: flex;
    justify-content: flex-end;
    color: var(--text-color);
}

/* style hero section and its content */
.hero-image {
    background-image: url("../images/photo.PNG");
    width: 1600px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    transition: transform .75s;
    filter: brightness(80%);
    /* margin-left: 40px;  */
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    background-color: hsla(240, 37%, 91%, 0.75);
    padding: 30px;
    color: var(--bg-color);
    /* height: 500px;
    width: 700px;  */
    margin-left: 80px;
    filter: none;
}

/* hero image enlarge a bit when cursor hover */
.hero-image:hover {
    transform: scale(1.05);
}

.hero-text h1 {
    font-size: 50px;
    font-weight: var(--f-bold);
    margin: 0;
}

.hero-text h3 {
    font-size: 25px;
    font-weight: var(--f-secondary);
}

.hero-greeting {
    font-size: 20px;
    margin: 0;
}

.hero-text span {
    font-size: 70px;
    color: var(--text-color2);
}

.myResumeBtn {
    color: var(--bg-color);
    background-color: #FF971A;
    border-radius: 10px;
    padding: 1.25rem 1.75rem;
    position: relative;
    font-size: 20px;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    transition:  color 1.5s;
    /* display: inline-block; */
}

.myResumeBtn:hover {
    background-color: var(--bg-color);
    color: var(--text-color2);
}

.myResumeBtn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    /* background-color: var(--text-color2); */
    transform: skewX(35deg);
    z-index: -1;
    transition: width 1;
}

.myResumeBtn:hover::before {
    width: 150%;
}

/* style social media icons and add links to each. Icons are from Font Awesome */
.side-social-media {
    width: 40px;
    position: fixed;
    bottom: 0px;
    z-index: 10;
}

.social-med-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-med-list li {
    display: list-item;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    cursor: pointer;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
background-color: #171515;
color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-envelope {
    font-size: 30px;
    background-color: #1c1d25;
    color: white;
}

/* syle about me section */
/* animate the border when user(s) hover on 'about me' section */
.about-container {
    max-width: 1000px;
    margin-top: 80px;
    padding: 20px 50px;
    border: 1px solid var(--text-color);
    position: relative;
}

.about-container::before,
.about-container::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    border: inherit;
    transition: all .5s;
}

.about-container::before {
    top: -20px;
    left: -20px;
    border-width: 3px 0 0 3px;
}

.about-container::after {
    bottom: -20px;
    right: -20px;
    border-width: 0 3px 3px 0;
}

.about-container:hover::before,
.about-container:hover::after {
    width: 50%;
    height: 50%;
}

/* Styling 'Get to know me!' header text  */
.heading-about {
    display: flex;
    -webkit-box-align: center;
    justify-content: flex-end;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: 30px;
    /* white-space: nowrap; */
}

.heading-about::before {
    content: '';
    display: block;
    position: relative;
    top: 20px;
    width: 300px;
    height: 1px;
    margin-right: 20px;
    background-color: var(--text-color);
}

.inner {
    display: grid;
    grid-template-columns: 3fr 2fr;
    /* gap: 20px; */
}

/* styling photo and give overlay color */
.pofile-photo {
    position: relative;
    max-width: 300px;
}

.overlay .wrapper {
    transform: var(--transition-photo);
    display: block;
    position: relative;
    width: 400px;
    background-color: #6c6155;
}

.overlay .wrapper img {
    position: relative;
    mix-blend-mode: multiply;
    filter: grayscale(90%) contrast(1);
    transition: var(--transition-photo);
}

/* animation on the picture when hovered, not yet worked */
.overlay .wrapper::before {
    top: 0;
    left: 0;
    background-color: var(--bg-color);
    mix-blend-mode: screen;
}

.overlay .wrapper::after {
    border: var(--text-color2);
    top: 20px;
    left: 20px;
    z-index: -1;
}

.overlay .wrapper::before,
.overlay .wrapper::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: var(--transition-photo);
}

/* style works/portfolio section */
.work-section-container {
    margin-top: 80px;
    max-width: 1000px;
}

/* stryling each project card */
/* responsive card that response to media query  */
.project-card1 {
    width: 50rem;
    background-color: #6c6155;
    color: var(--text-color);
    padding: 1.5rem;
}

.card-image1 {
    object-fit: cover;
}

.project-title1 {
    font: 3rem;
}


/* media queries */
@media (max-width: 1080px) {
    .side-social-media {
        left: auto;
        right: 20px;
    }
}