:root {
    --f-primary: 600;
    --f-secondary: 700;
    --f-bold: 800;
    --f-slim: 400;
    --bg-color: #1c1d25;
    --text-color: azure;
}

* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    height: 120px;
    background-color: var(--bg-color);
}

main {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    font-size: 20px;
    justify-content: space-around;
    align-items: flex-end;
    padding: 40px;
}

li {
    width: 200px;
    text-decoration: none;
}

/* .top {
    background-color:#1c1d25;
    height: 80px;
    color:azure;
    align-content: space-around;
} */

.top {
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    width: 100%;
    height: 220px;
}

.image-logo {
    width: 100px;
    height: 100px;
    padding-left: 40px;
}

h2 {
    font-weight: var(--f-bold);
    font-size: 50px;
    padding-bottom: 50px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: var(--f-primary);
}

.hero {
    display: flex;
    background-image: url("../images/photo.PNG");
    background-color: #cccc;
    height: 600px;
    background-position: center;
    background-size: cover;
    position: relative;
    
}

.hero-text {
    position: absolute;
    text-align: left;
    top: 30%;
    left: 10%;
    font-size: 50px;
    font-weight: var(--f-slim);
}

.hero-text strong{
    font-weight: var(--f-bold);
}

.enter-button {
    width: 200px;
    height: 55px;
    background-color: orange; /*temporary color*/
    font-size: 30px;
    padding-top: 5px;
    margin-top: 20px;
    
}

.enter-button:hover {
    opacity: 70%;
}

a{
    text-decoration: none;
    color: azure;
}
.photo {
    border-radius: 150px;
    padding: 30px;
    margin-right: 20px;
}

.dev-profile {
    padding: 30px;
    margin: 30px;
    border-left: solid azure 3px;
}

.info {
    display: flex;
    justify-content: space-around;
    padding: 80px;
    background-color: #1c1d25;
    color: azure;
}

.works {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
    background-color: #1c1d25;
    color: azure;
}


.project-card {
    width: 400px;
    height: 500px;
    border: 1px solid azure;
    margin: 0px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

.card-image {
    margin-top: 50px; 
    margin-bottom: 30px;
}


/* media query so web is responsive to 980 px or smaller width */
@media only screen and (max-width: 980px) {
    h1 {
        font-size: 80%;
    }

    h2 {
        font-size: 50px;
    }
    
    h3 {
        font-size: 60%;
    }

    p {
        font-size: 90%;
    }

    button {
        size: 80%;
    }

    .top {
        height: 60px;
    }
    
    .hero {
        opacity:  50%;
        height: 300px;
    }
    
    .project-container {
        width: 50%;
    }

    .hero-text {
            
    }
    
    .photo {
        width: 80%;
        height: 80%;
    }

    
}