:root {
    --f-primary: 600;
    --f-secondary: 700;
    --f-bold: 800;
    --f-slim: 400;
}
* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

header .top {
    background-color:#1c1d25;
    height: 80px;
    color:azure;
    align-content: space-around;
}

footer {
    height: 200px;
    background-color: black;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    font-size: 20px;
    justify-content: space-around;
    align-items: flex-end;
}

li {
    width: 200px;
    text-decoration: none;
}


.hero {
    display: flex;
    flex-direction: column;
    background-image: url("../images/photo.PNG");
    background-color: #cccc;
    height: 600px;
    background-position: center;
    background-size: cover;
    position: relative;
    
}

.hero-text {
    position: absolute;
    text-align: left;
    top: 30%;
    left: 10%;
    border: #1c1d25 10px;
    font-size: 50px;
    font-weight: var(--f-slim);
}

.hero-text strong{
    font-weight: var(--f-bold);
}

.enter-button {
    width: 200px;
    height: 55px;
    background-color: orange; /*temporary color*/
    font-size: 30px;
    padding-top: 5px;
    margin-top: 20px;
    
}

.enter-button:hover {
    opacity: 70%;
}





